html {
	height: 100%;
}
body {
	height: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	box-sizing: border-box;
	background-color: #fff;
	overflow-x: hidden;
}
wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1 0 auto;
}
footer {
  flex: 0 0 auto;
  margin-top: 20px;
}
/*Шапка, навигация*/

.navbar-collapse {
	background: #426849;
}
nav.navbar {
	height: 30px;
	margin: 0;
	border: 0;
	background-color: #426849;
}
.navbar-nav li a {
	background-color: #426849;
}
.sr-only {
	background-color: #000;
}
.navbar-toggle {
	background-color: #fff;
}

.navbar-brand {
	font-size: 20px;
	text-transform: uppercase;
		transition: all 1s ease;
}
.logo_part1 {
	color: #fff;
}
.logo_part2 {
	color: #57A735;
}
header#id_header a{
	color: #fff;
}

/*Главное изображение, Заголовок, Социальные кнопки*/

.main_screen {
	height: 738px;
	background-image: url(../img/4444.jpg);
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
	margin-bottom: 30px;
	margin-top: 50px;
}
.bg_but {
	width: 310px;
	height: 52px;
	background-color: #000;
	margin-top: 440px;
	opacity: 0.7;
	border: 1px solid #fff;
	font-size: 25px;
	color: #fff;
}
.descr {
	padding-top: 64px;
	padding-bottom: 72px;
	padding-left: 20px;
	padding-right: 20px;
}
.descr p {
	color: #000;
}
.preim h2 {
	display: inline-block;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
	background: #fff;
	z-index: 2;
}
.preim::after {
	content: '';
	display: block;
	position: relative;
	top: -25px;
	z-index: 1;
	margin-left: 15%;
	margin-right: 15%;
	border-bottom: 1px solid #426849;
	margin-bottom: 24px;
}


.innerblock {
	height: 100%;
	width: 100%;
	position: relative;
	margin-top: 30px;
	border-top: 44px solid #426849;
	border-bottom: 1px solid #426849;
		border-left: 1px solid #426849;
			border-right: 1px solid #426849;
}
.innerblock p {
	padding: 2px;
	color: #426849;
	font-size: 20px;
	padding-top: 18px;
}
.innerblock span {
	display: block;
	padding: 2px;
	margin-bottom: 34px;
}
.circle {
	width: 66px;
	height: 66px;
	max-height: 100px;
	position: absolute;
	top: -74px;
	left: 38.62%;
	margin: 0;
	background: #fff;
	border: 1px solid #426849;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.circle i {
	font-size: 40px;
margin-top: 18%;
color: #426849;
}


/*Главная секция: Новости, статьи, подписка, баннер, слайдер*/;

footer {
	background-color: #212121;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #929292;
	font-size: 13px;
}
footer a {
	color: #929292;
	margin-left: 6px;
	margin-right: 6px;
}
footer a:hover {
	text-decoration: none;
	color: #fff;
}
.footer_soc a {
	color: #fff;
}
.allright {
	font-size: 11px;
}


@media (max-width: 1309px) {
.circle {display: none;}
}
